.background {
    background-color:#000000;
}

.orbits {
    fill:#000000;
    stroke:#ffffff;
}

.sun{
    fill:#ffff4d;
}

.planet1 {
    fill: #ff9900;
    animation: rot1 3s infinite linear;

}

.planet2 {
    fill:#ccff99;
}

.planet3 {
    fill:#ff3300;
}

.planet4 {
    fill:#ffcc99;
}

.planet5 {
    fill:#ffe6cc;
}

.planet6 {
    fill:#0066ff
}

.planet7 {
    fill:#00ffcc;
}

@keyframes rot1 {
from {
    transform: rotate(0deg)
    translate(100px)
    rotate(0deg);
}
to {
    transform: rotate(360deg)
    translate(100px)
    rotate(-360deg);
}
}




